$colorTd: #ff1818;

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $colorTd;
}

table {
    background-color: #fff;
}

tr,
td {
    width: 100px;
    height: 100px;
    border: 1px solid $colorTd;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
        background-color: #1b50cb;
    }
}